body {
    margin: 0;
    padding: 0;
    h1 {
        padding-left: 50px;
    }
}

.hidden {
    display: none;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

p,button {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.movie-tv {
    background-color: $yellow;
    padding: 50px;
    .videoWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        video {
            align-self: flex-start;
        }
        .controls {
           padding-top: 20px;
        }
    }
    .button{
        background-color: $green;
        border-radius: 15px;
        padding: 5px;
        cursor: pointer;
        img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        overflow: hidden;
        }
    }
    .button:hover {
        background-color: $blue;
    }
    .playBack{
        transform: rotateY(180deg);
    }
    .playAnother, .showButton {
        padding: 10px;
    }

    .transcript {
        background: $blue;
        max-width: 500px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;
    }
}

.music {
    background: $blue;
    margin-top: -30px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    img {
        width: 350px;
    }
    audio {
        margin-top: 30px;
        background: $green;
        padding: 28px;
        border-radius: 15px;
    }
    .lyrics {
        max-width: 300px;
    }
}